html
  head 
    title="MyBank Home"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet")
  
  nav(class="navbar navbar-expand navbar-dark bg-dark")
    div(class="container")
      a(class="navbar-brand")="MyBank"
      ul(class="navbar-nav me-auto")
        li(class="nav-item")
          a(class="nav-link" href="/account")="Account"
        li(class="nav-item")
          a(class="nav-link" href="/info")="Profile"
        li(class="nav-item")
          a(class="nav-link" href="/contact")="Contact Us"
      
      ul(class="navbar-nav ms-auto")
        if isLoggedIn
          li(class="nav-item")
            a(class="nav-link active" href="/logout")="Logout"
        else
          li(class="nav-item")
            a(class="nav-link active" href="/login")="Login"
        
        