html
    head
        title="My Info"
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet")
    
    body
        nav(class="navbar navbar-expand navbar-dark bg-dark")
            div(class="container")
                a(class="navbar-brand")="MyBank"
                ul(class="navbar-nav me-auto")
                    li(class="nav-item")
                        a(class="nav-link" href="/account")="Account"
                    li(class="nav-item")
                        a(class="nav-link disabled" href="/info")="Profile"
                    li(class="nav-item")
                        a(class="nav-link" href="/contact")="Contact Us"


        div(class="container mt-3")
            h2(class="pb-2 border-bottom")="My Profile"
            if error 
                p(class="alert alert-danger")=error
            
            table(class="table")
                thead
                    tr
                        th(scope="col")="Username"
                        th(scope="col")="Password"
                        th(scope="col")="E-mail"
                tbody 
                    tr 
                        td=session.username
                        td=session.password 
                        td=session.email

            div(class="row")
                div(class="col-auto")
                    a(class="btn btn-primary" href="/update" role="button")="Update Contact Info"
                
                form(action="" method="post" class="col-auto")
                    if showPass
                        button(class="btn btn-light" type="submit")="Hide Password"
                    else
                        button(class="btn btn-secondary" type="submit")="Show Password"

                div(class="col-auto")
                    a(class="btn btn-outline-dark" href="/" role="button")="Back to Home"

